<header>
  <h1><%= link_to 'Pack', root_path %></h1>

  <div class='user'>
    <% if current_user %>
      <%= link_to current_user.username, files_path %>
      <%= link_to 'logout', destroy_user_session_path, { :class => 'delete' } %>
    <% else %>
      <%= link_to 'Login', new_user_session_path %>
    <% end %>
  </div>
</header>
