@import 'variables';

html {
  color: $text;
  background: $background;

  font-size: 10px;
}

body {
  font-size: 1.4rem;
  font-family: Ubuntu;
  font-weight: 100;

  margin: 0;
}

.wrapper {
  padding: 2rem 5rem;
}
