$text: rgb(32, 32, 32);
$background: rgb(249, 249, 249);

$light-gray: rgb(241, 241, 241);
$gray: rgb(217, 217, 217);
$dark-gray: rgb(125, 125, 125);
$darker-gray: rgb(69, 69, 69);

$primary: rgb(73, 134, 132);
$secondary: rgb(166, 212, 255);
